{% extends "base.html" %}

{% block content %}
    <h1>{{course.name}} info</h1>
    <h2>Semester</h2>
    <div class="text-box">{{course.semester}}  {{course.year}}</div>
    <h2>Instructor</h2>
    <div class = "text-box">{{course.instructor.name}}</div>
    <h2>Class Description</h2>
    <div class="text-box">{{course.description}}</div>
    <h2>Number of positions</h2>
    <div class="text-box">{{course.position_count}}</div>
    <h2>Minimum GPA</h2>
    <div class="text-box">{{course.minimum_gpa}}</div>
    <h2>Minimum Grade</h2>
    <div class="text-box">{{course.minimum_grade}}</div>
    <h2>Prior Experience</h2>
    <div class="text-box">{{course.prior_experience}}</div>
{%endblock%}