{% extends "base.html" %}

{% block content %}
<h2>Past Experience?</h2>
<h4>This will help with recommendations!</h4>
    <table class="table table-striped" style="font-size: 20px;">
        {% for course in courses %}
            {%set isExp = []%}
            {%for exp in current_user.experiences%}
                {%if exp.course.id == course.id%}
                    {%do isExp.append(exp.id)%}
                {%endif%}
            {% endfor %}
            {%if isExp[0]%}
                <tr>
                    <td> 
                        {{course.name}}
                    </td>
                    <td> 
                        <a href="/student/experience/delete/{{isExp[0]}}">Delete Experience</a>
                    </td>
                </tr>
            {%else%}
                <tr>
                    <td> 
                        <a href="/student/experience/{{course.id}}">{{course.name}}</a>
                    </td>
                    <td>

                    </td>
                </tr>
            {%endif%}
        {% endfor %}
    </table>
{% endblock %}