{% extends "base.html" %}

{% block content %}
    <h1>{{course.name}} {{course.semester}} {{course.year}} Application</h1>
    {% if form %}
        <form class="form" action="" method="post">
            {{form.hidden_tag()}}
            <div>
                <span class="formtitle">Semester Taken</span><br>
                {{form.semester(class="formselect")}} {{form.year(class="formselect")}}<br>
                {% for error in form.semester.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                {% for error in form.year.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                {%for g in gradeSelection%}
                    {%do form.grade.choices.append(g)%}
                {%endfor%}
                {{form.grade.label(class="formtitle")}}<br>
                {{form.grade(class="formselect")}}<br>
                {% for error in form.grade.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </div>
            {{form.submit(class="btn btn-primary basic-margin")}}
        </form>
    {%  endif %}
{%endblock%}