{% block content %}
    <h2 class="basic-margin">Your Courses</h2>

    <a href="/professor/courses/create">Create</a>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Semester</th>
            <th>Actions</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.semester }} {{ course.year }}</td>
                <td>
                    <a href="/professor/courses/edit/{{ course.id }}">Edit</a>
                    <a href="/professor/courses/delete/{{ course.id }}">Delete</a>
                    <a href="/professor/applicants/{{course.id}}">Applications</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
