{% extends "base.html" %}

{% block content %}
    <h1>Create Course</h1>
    {% if form %}
        <form class="form" action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.name.label }}<br>
                {{ form.name }}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}

                {{ form.description.label }}<br>
                {{ form.description }}<br>
                {% for error in form.description.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}

                {{ form.semester.label }}<br>
                {{ form.semester }}<br>
                {% for error in form.semester.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}

                {{ form.year.label }}<br>
                {{ form.year }}<br>
                {% for error in form.year.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}

                {{ form.position_count.label }}<br>
                {{ form.position_count }}<br>
                {% for error in form.position_count.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}

                {{ form.minimum_gpa.label }}<br>
                {{ form.minimum_gpa }}<br>
                {% for error in form.minimum_gpa.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}

                {{ form.minimum_grade.label }}<br>
                {{ form.minimum_grade }}<br>
                {% for error in form.minimum_grade.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}

                {{ form.prior_experience.label }}<br>
                {{ form.prior_experience }}<br>
                {% for error in form.prior_experience.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </div>
            <br>
            {{ form.submit(class="button") }}
        </form>
    {% endif %}

{% endblock %}
