{% extends "base.html" %}

{% block content %}

{% if user.is_professor %}
    {%include "professor/courses.html" %}
{% else %}
    <h2>Recommended Positions</h2>
    <table class="table table-striped" style="font-size: 20px;">
        {%for exp in current_user.experiences%}
            {%set pastGrade = []%}
            {%set courseMinGrade = []%}
            {%for g in grades%}
                {%if exp.grade == g %}
                    {%do pastGrade.append(loop.index)%}
                {%endif%}
                {%if exp.course.minimum_grade == g%}
                    {%do courseMinGrade.append(loop.index)%}
                {%endif%}
            {%endfor%}
            {%if exp.past_ta or pastGrade[0] <= courseMinGrade[0]%}
                <tr>
                    <td width = "10%"> 
                        {{exp.course.name}} - {{exp.course.semester}} {{exp.course.year}}
                    </td>
                    <td width = "10%">
                        <a href="/student/course-info/{{exp.course.id}}"><span class="text-large">more info</span></a>
                    </td>
                    <td width="20%">
                        <a href="student/application/{{exp.course.id}}">apply</a>
                    </td>
                </tr>
            {%endif%}
        {%endfor%}
    </table>

    <h2>All Positions</h2>
    <table class="table table-striped" style="font-size: 20px;">
        {% for course in courses %} 
            <tr>
                <td width = "10%"> 
                    {{course.name}} - {{course.semester}} {{course.year}}
                </td>
                <td width = "10%">
                    <a href="/student/course-info/{{course.id}}"><span class="text-large">more info</span></a>
                </td>
                <td width="20%">
                    <a href="student/application/{{course.id}}">apply</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
