{% extends "base.html" %}

{% block content %}

{% if user.is_professor %}
    <h1>Hello Professor</h1>
    {%include "professor/courses.html" %}
{% else %}
    <h1>Hello Student</h1>
    <h2>Open Positions</h2>
    <table class="table table-striped">
        {% for course in courses %} 
            <tr>
                <td width = "10%"> 
                    {{course.name}} - {{course.semester}} {{course.year}}
                </td>
                <td width = "10%">
                    <a href="/student/course-info/{{course.id}}"><span class="text-large">more info</span></a>
                </td>
                <td width="20%">
                    <a href="student/application/{{course.id}}">apply</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
